CELERYD_NODES="w1"
CELERY_BIN="{{ observer_root }}/api/env/bin/celery"
CELERY_APP="{{ observer_app_name }}"
CELERYD_MULTI="multi"
CELERYD_OPTS="--time-limit=86400 --autoscale={{ celery_max_workers | default(20) }},{{ celery_min_workers | default(2) }}"
CELERYD_PID_FILE="{{ observer_root }}/api/{{ observer_app_name }}/%n.pid"
CELERYD_LOG_FILE="/var/log/celery/%n%I.log"
CELERYD_LOG_LEVEL="ERROR"
CELERYBEAT_PID_FILE="{{ observer_root }}/api/{{ observer_app_name }}/beat.pid"
CELERYBEAT_LOG_FILE="/var/log/celery/beat.log"
