[Unit]
Description=Observer RMM Nats Api v1
After=nats.service

[Service]
Type=simple
ExecStart=/usr/local/bin/nats-api -config {{ observer_root }}/api/{{ observer_app_name }}/nats-api.conf
User={{ observer_user }}
Group={{ observer_user }}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
